# shamefully-hoist 设置为 true 时，pnpm 会尝试模仿传统的 npm 和 yarn 行为，将所有依赖项都安装在项目的根 node_modules 文件夹中，而不是将它们分散到各个子文件夹中。
# shamefully-hoist=true

# strict-peer-dependencies 设置为 false 时，表明包管理器在处理 peer dependencies 时采取较为宽松的态度，允许存在未完全满足的 peer dependency 声明。
# Peer Dependency（同等依赖） 主要用于确保多个模块在同一个主模块的上下文中使用，并共享依赖的版本。
strict-peer-dependencies=false

# node-linker 定义应该使用什么链接器来安装 Node 包。
# > isolated - 默认值，依赖项从虚拟存储 node_modules/.pnpm 中建立符号链接
# > hoisted - 创建一个没有符号链接的扁平的 node_modules。 与 npm 或 Yarn Classic 创建 node_modules 一致。
# node-linker=hoisted
